@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";

@layer base{
  
  * {
    @apply m-0 p-0 box-border transition-common; 
    -webkit-transition: all 300ms ease-in-out;
  }

  html{
    @apply overflow-hidden
  }

  body{
    @apply bg-black-100 p-0 m-0 leading-[21px] font-elza font-normal tracking-[0] relative
  }

  a {
    @apply transition-common;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  :-webkit-scrollbar {
   @apply w-0
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-white-300 !rounded-none;
  }

  ::-webkit-scrollbar-thumb {
      @apply !rounded-none bg-grey-800;
  }

  .grid-contianer{
    @apply w-full
  }

  .grid-container.full{
    @apply px-50 w-full
  }

  h1,.h1,
  h2,.h2,
  h3,.h3,
  h4,.h4,
  h5,.h5,
  h6,.h6{
    @apply font-elza m-0 font-500
  }

  h1,.h1{
    @apply text-50 1599:text-40 640:text-30 leading-normal
  }

  h2,.h2{
    @apply text-50 1599:text-30 640:text-20
  }

  h3,.h3{
    @apply text-35 1599:text-26 640:text-20
  }

  h4,.h4{
    @apply text-38
  }

  h5,.h5{
    @apply text-26
  }

  h6,.h6{
    @apply text-16
  }

  .p1-font{
    @apply text-20
  }

  .p2-font{
    @apply text-18
  }

  .p3-font{
    @apply text-16
  }

  ul{
    @apply list-none m-0
  }

  a{
    @apply no-underline outline-none shadow-none;
    transition: .3s linear;
  }

  a:hover{
    transition: .3s linear;
  }

  p{
    @apply m-0 font-400 text-16
  }

  .title-white h1,
  .title-white h2,
  .title-white h3,
  .title-white h4,
  .title-white h5,
  .title-white h6{
    @apply text-white-100
  }

  .title-black h1,
  .title-black h2,
  .title-black h3,
  .title-black h4,
  .title-black h5,
  .title-black h6{
    @apply text-black-200
  }

  .title-offwhite h1,
  .title-offwhite h2,
  .title-offwhite h3,
  .title-offwhite h4,
  .title-offwhite h5,
  .title-offwhite h6{
    @apply text-white-200
  }

  .content p {
    @apply text-16 640:text-12
  }

  .content.white p{
    @apply text-white-100
  }

  .content.grey p{
    @apply text-grey-300
  }

  .content.semigray p{
    @apply text-grey-400
  }

  .content.lg p{
    @apply text-20 1599:text-16 1599:leading-26 640:text-12 640:leading-18
  }

  .custom-container{
    @apply pl-175 768:pl-95 640:px-20
  }

  .container-fluid{
    @apply px-80 640:px-20
  }

  .img-ratio {
    @apply absolute top-0 left-0 w-full h-full object-cover block;
  }

  .mt-minue {
    @apply -mt-[130px] 640:mt-0
  }

  .swiper .swiper-dots{
    @apply w-auto absolute
  }

  .swiper .swiper-dots span {
    @apply bg-grey-200 opacity-100 w-[15px] h-[15px]
  }

  .swiper .swiper-dots .swiper-pagination-bullet-active{
    @apply bg-white-100
  }

  body.search-active{
    @apply relative 
  }

  body.search-active::before{
    @apply content-[''] absolute top-0 left-0 w-full h-full bg-black-100/[0.80] z-99
  }
}


@layer components{

  /* =============================== Buttons ===============================  */
  
  .btn-custom{
    @apply inline-block
  }

  .btn{
    @apply font-elza text-22 font-500 pt-15 px-25 pb-[12px] transition-common delay-75 leading-normal 1599:text-18 1599:pt-[12px] 1599:px-20 1599:pb-10 640:h-[41px] 640:py-[13px] 640:px-25 640:text-14;
  }

  .btn.btn-white{
    @apply bg-white-100 text-black-200 border-1 border-solid border-white-100 rounded-10 flex justify-between items-center hover:bg-black-100 hover:text-white-100 leading-[1] 
  }

  .btn.btn-white:hover img{
    filter: invert(96%) sepia(100%) saturate(22%) hue-rotate(186deg) brightness(105%) contrast(103%);
  }

  .btn.btn-grey{
    @apply bg-grey-100 text-black-300 rounded-10 flex flex-wrap justify-between items-center hover:bg-white-100 hover:text-black-300
  }

  .btn.btn-link{
    @apply 640:bg-transparent text-white-100 py-[13px] text-14
  }
}

@layer utilities{

  /* =============================== Animations ===============================  */

  @keyframes smoothScrolldown {
    0% {
        transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes smoothScrollup {
    0% {
        transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1;
    }  
    100% {
      opacity : 0;
    }  
  }

  @keyframes  fadeOut  {
    0% {
      opacity : 1;
    }  
    100% {
      opacity : 0;
    }  
  }
  
  /* =============================== Header css ===============================  */

  .sidebar-nav{
    @apply px-55 pt-150 fixed w-[175px] top-0 z-9 h-screen
  }

  .sidebar-nav .menu-toggle-icon{
    @apply relative hidden 640:block
  }

  .sidebar-nav .sidebar-navbar{
    @apply flex flex-col 640:flex-row
  }

  .sidebar-nav ul{
    @apply flex flex-col gap-[20px] relative z-10 640:flex-row
  }

  .sidebar-nav ul li a:hover{
    @apply opacity-[0.60]
  }

  .sidebar-nav .search{
    @apply relative mt-[18px] ml-[3px] pt-20
  }

  .sidebar-nav .search::before{
    @apply content-[""] absolute top-0 -left-[3px] w-[22px] h-[1px] bg-white-100
  }

  .sidebar-nav .search button{
    @apply cursor-pointer hover:opacity-[0.60] bg-transparent border-none
  }

  /* =============================== Search Bar ===============================  */

  .search-bar{
    @apply absolute top-[50px] w-0 left-50_per z-999 translate-x-minus_50
  }

  .search-bar.active {
    @apply w-[calc(100%-250px)];
  }

  .search-bar.active input{
    @apply w-full pl-10
  }

  .search-bar form {
    @apply border-0 border-b-1 border-solid border-b-white-100
  }

  .search-bar input{
    @apply w-full p-0 !bg-transparent border-none text-white-100 !shadow-none !rounded-none outline-0 m-0 focus:border-0
  }

  .search-bar .closeicon{
    @apply absolute top-[6px] right-0 cursor-pointer hidden
  }

  .search-bar .closeicon svg{
    @apply w-[15px]
  }

  .search-bar .closeicon path{
    @apply fill-white-100
  }

  .search-active .closeicon{
    @apply block
  }

  .scrolled-to-footer::before{
    @apply h-[80px] bg-scrollfooter
  }

  /* =============================== Hero Banner ===============================  */

  .banner-wrapper{
    @apply h-[1000px] 768:h-[800px] 640:h-auto 640:!px-0
  }

  .banner-slider,
  .inner-banner{
    @apply h-full relative
  }

  .banner-slider .swiper-slide ,
  .inner-banner .swiper-slide {
    @apply h-full relative
  }

  .banner-slider .swiper-slide::before,
  .inner-banner .swiper-slide::before{
    @apply content-[""] absolute top-0 left-0 w-[400px] h-full bg-herogradient z-9 640:hidden
  }

  .banner-slider .swiper-slide .img,
  .inner-banner .swiper-slide .img{
    @apply w-full h-full absolute
  }

  .banner-slider .swiper-slide .img img,
  .inner-banner .swiper-slide .img img{
    @apply w-full h-full object-cover 640:h-[175px]
  }

  .banner-slider .swiper-slide .banner-content,
  .inner-banner .swiper-slide .banner-content{
    @apply relative z-9 max-w-[460px] pt-150 640:pt-[190px] 640:px-15 640:pb-0;
  }

  .banner-slider .swiper-slide .banner-content h1,
  .banner-slider .swiper-slide .banner-content .h1,
  .inner-banner .swiper-slide .banner-content h2,
  .inner-banner .swiper-slide .banner-content .h2{
    @apply !font-400
  }
  .banner-slider .swiper-slide .banner-content .content,
  .inner-banner .swiper-slide .banner-content .content{
    @apply pt-20 768:pt-10 640:pt-0 
  }

  .banner-slider .swiper-slide .banner-content .content p,
  .inner-banner .swiper-slide .banner-content .content p{
    @apply font-400 leading-[30px]
  }

  .banner-slider .swiper-slide .banner-content .banner-play,
  .inner-banner .swiper-slide .banner-content .banner-play{
    @apply mt-20
  }

  .banner-slider .swiper-slide .banner-content .banner-play .banner-play-button,
  .inner-banner .swiper-slide .banner-content .banner-play .banner-play-button{
    @apply gap-[15px] 640:gap-[7px]
  }

  .banner-slider .swiper-slide .banner-content .banner-play .banner-play-button a img,
  .inner-banner .swiper-slide .banner-content .banner-play .banner-play-button a img{
    @apply ml-5 640:w-[15px] 640:ml-[3px]
  }

  .banner-slider .swiper-slide .banner-content .banner-play .banner-play-button a.btn-grey,
  .inner-banner .swiper-slide .banner-content .banner-play .banner-play-button a.btn-grey{
    @apply bg-grey-100 text-black-300 rounded-10 flex flex-wrap leading-[1] justify-between items-center hover:bg-white-100 hover:text-black-300
  }

  .banner-slider .swiper-slide .banner-content .more-info a,
  .inner-banner .swiper-slide .banner-content .more-info a{
    @apply flex text-14 gap-[10px] text-white-100 font-500 640:gap-[5px]
  }

  .banner-slider .swiper-slide .banner-content .star{
    @apply flex gap-[15px] items-center pt-30 pl-20
  }

  .banner-slider .swiper-slide .banner-content .star span{
    @apply text-white-200 font-500 text-14
  }

  .banner-wrapper .swiper-pagination{
    top: calc(100% - 420px) ;
    @apply 640:hidden
  }

  /* =============================== Footer CSS ===============================  */

}


/* =============================== Media Queries ===============================  */

@screen 768{
  .sidebar-nav{
    @apply w-[95px] px-25 
  }
}

@screen 640 {
  .sidebar-nav{
    @apply pt-30 px-20 fixed bottom-0 top-auto z-999 pb-20 w-full h-auto flex justify-between
  }

  .sidebar-nav::before{
    @apply content-[""] absolute bottom-0 left-0 w-full h-[200px] bg-sidebarGradient;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .sidebar-nav .search{
    @apply pt-0 mt-[2px] ml-[25px]
  }

  .sidebar-nav .search::before{
    @apply top-[2px] -left-[13px] w-[1px] h-[19px]
  }
}